.SecondContent{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.SiteInfo{
    background: white;
    display: flex;
    margin-left: 50px;
    padding-right: 5%;
    border-radius: 50px;
    box-shadow: inset 20px 20px 60px #bebebe,
    inset -20px -20px 60px #ffffff;
}
.H1Info{
    font-size: 24px;
    padding-top: 24px;
    padding-left: 20px;
}
.OtherInfo{
    font-size: 16px;
    padding: 20px 25px
}