.BasketContent{
    border-radius: 20px;
    background-color: white;
    width: 50%;
}
.EmptyBasket{
    margin: 20px;
    display: flex;
    color: black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}