header{
    width: 100%;
    background: #122538;
    padding-top: 11px;
    margin: 0 auto;
    padding-left: 30px;
    display: flex;
    font-weight: 700;
    height: 70px;
    position: fixed;
    z-index: 40;
}
.LogoAndName{
    display: flex;
    margin-left: 100px;
}
.SiteName{
    color: white;
    font-weight: 700;
    font-size: 36px;
    text-decoration: none;
    letter-spacing: -2px;
    padding-top: 10px;
    padding-left: 10px;
}
.BasketName{
    position: absolute;
    right: 146px;
    display: flex;
    height: 70px;
}
.BasketIcon{
    padding-top: 10px;
    height: 50px;
    cursor: pointer;
}
.MadeBy{
    margin-right: 20px;
    font-size: 20px;
    padding-top: 35px;
}
.burger-btn {
    margin-top: 5px;
    width: 30px;
    height: 30px;
    margin-left: 20px;
    position: relative;
    cursor: pointer;
}
.BurgerImage {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: #122538;
    transition: ease 0.15s;
}
.BurgerImage:active{
    background: #5f33b6;
    transition: ease 0.15s;
}
.burger-btn:before{
    content: "";
    position: absolute;
    top: 0;
    width: 30px;
}
.burger-btn:after{
    content: "";
    position: absolute;
    bottom: 0;
    width: 30px;
}
.BurgerImage *{
    fill: white;
}
.BasketButton{
    display: flex;
}
.basketLength{
    padding: 5px;
    margin-top: auto;
    margin-bottom: 5px;
    transition: ease 0.2s;
}
.basketLength.anim{
    border-radius: 50px;
    background-color: blueviolet;
    transition: ease 0.2s;
}