.menu{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 80px;
    left: 0;
    transform: translateX(-120%);
    opacity: 0;
    transition: 0.3s;
}
.menu.active{
    transform: translateX(0);
    opacity: 1;
    transition: 0.3s;
}
.blur{
    width: 100%;
    height: 100vh;
    left: 20%;
    backdrop-filter: blur(1px);
    position: absolute;

}

.menuContent{
    padding-top: 20px;
    width: 20%;
    height: 100%;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menuHeadName{
    padding-bottom: 20px;
    text-decoration: underline overline purple;
}
.menuContent a{
    color: white;
}
.Items{
    text-align: center;
    width: 95%;
}
.Item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    flex-direction: column;
    transition: ease 0.2s;
}
.Item:hover{
    background: #363636;
    transition: ease 0.2s;
}