.Best-sellers{
    margin-top: 20px;
    background: black;
    padding-top: 50px;
}
.Sellers-Name h1{
    padding-left: 100px;
    color: white;
    font-size: 50px;
}
.Sellers-Name{
    opacity: 0;
    transition: all 0.8s ease 0s;
}
.Sellers-Name.active{
    opacity: 1;
}
.sellers-items-case{
    width: 95%;
    margin-left: 5%;
}
.sellers-items{
    display: grid;
    margin: 70px;
    margin-bottom: 0;
    padding-bottom: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 5%;
    overflow-x: hidden;
}
@media (max-width: 1100px) {
    .sellers-items {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 600px){
    .sellers-items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
.items{
    width: 200px;
}
.items h2{
    color: white;
    font-size: 23px;
    padding: 10px;
}
.seller-images{
    height: 200px;
    border-radius: 10px;
}
.seller-images:hover{
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.sellers-text{
    padding-left: 50px;
}
.sellers-text h3{
    color: #eeeded;
    padding-left: 35px;
    font-weight: 400;
}