.FirstContent{
    display: flex;
    justify-content: center;
}
.MessageContent{
    padding-top: 80px;
}
.message{
    padding: 55px 25px 23px;
    background: white;
    height: 420px;
    border-radius: 50px;
    box-shadow:  20px 20px 60px #d9d9d9,
    -20px -20px 60px #ffffff;
}
.message h1 {
    margin-bottom: 20px;
}
.CatalogGridButtons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 5%;
    padding-top: 20px;
}
.prev_image{
    height: 75px;
    border-radius: 50px;
    background: #dfdfdf;
    box-shadow:  20px 20px 60px #bebebe,
    -20px -20px 60px #ffffff;
}
.prev_image:hover{
    background: linear-gradient(145deg, #c9c9c9, #efefef);
    box-shadow:  20px 20px 60px #bebebe,
    -20px -20px 60px #ffffff;
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.prev_image:active{
    background: linear-gradient(145deg, #c0bfbf, #efefef);
    box-shadow:  20px 20px 60px #b6b6b6,
    -20px -20px 60px #ffffff;
}
@media (max-width: 1200px){
    .PCImage{
        width: 500px;
    }
}
@media (max-width: 992px){
    .PCImage{
        width: 300px;
    }
}
@media (max-width: 767px){
    .PCImage{
        display: none;
    }
}
.PCImageCase{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}