.shopItemCase{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}
.shopItemInfo h2{
    color: white;
    font-size: 23px;
    padding: 10px;
}
.shopItemInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.shopItem-images{
    height: 200px;
    border-radius: 10px;
}
.shopItem-images:hover{
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.shopItem-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.shopItem-text h3{
    color: white;
    font-weight: 400;
}
@media (max-width: 400px){
    .shopItem-images{
        width: 200px;
        height: auto;
    }
}