.shopContent {
    width: 95%;
    background: black;
    padding-left: 5%;
}
.shopContent h1 {
    color: white;
    padding-bottom: 50px;
    font-size: 50px;
}
.shopItemsAndFilters{
    display: grid;
    grid-template-columns: 15% 80%;
}
.shopItems{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    overflow-x: hidden;
}
.shopContentInfo{
    display: flex;
    align-content: center;
}
.shopSortSelector{
    margin-top: 30px;
    position: absolute;
    right: 10%;
    display: flex;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    align-items: center;
    font-size: 15px;
    padding: 5px 10px;
    line-height: 1.4;
    justify-content: space-between;
}
@media (max-width: 1100px) {
    .shopItems {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (max-width: 992px){
    .shopItems {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 600px){
    .shopItems {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .shopContent h1 {
        color: white;
        padding-bottom: 50px;
        font-size: 38px;
    }
    .shopItemsAndFilters{
        grid-template-columns: 30% 70%;
    }
}